
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 font-family: Arial, Helvetica, sans-serif;
 color: black;
}

/* learn why is this given
  - width: min(100% - 64px, 1240px); 
  - flex-shrink: 0;
  - align-items: stretch;
 */



/* Navbar */
.site-header{
  width: 100%;
  background-color: #fff;
}

.navbar{

  
  width: min(100% - 64px, 1240px);  
  min-height: 80px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
}

.nav-logo{
  flex-shrink: 0;
}

.nav-logo img{
  width: 160px;
  height: auto;
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
  flex-shrink: 0;
}

.nav-links a{
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
  color: black;
}

.nav-links a:hover{
  color: #777;
}

.search-bar{
  position: relative;
  flex: 1;
  max-width: 400px;
  min-width: 160px;
}

.search-bar input{
  /* position: relative; if given here, the search input will be 
     on top and the search icon will be inside it, */
  width: 100%;
  
  height: 44px;
  padding: 0 18px 0 48px;

  border: none;
  border-radius: 30px;
  outline: none;
  background-color: #f0f0f0;
  font-size: 14px;
}

/* make the border when the search bar is clicked */
.search-bar input:focus{
  outline: 1px solid #aaa;
}

.search-bar button{
  /* absolute is given to overlap the search-bar input, 
     so it will be like inside the search box */
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
.search-bar button img{
  width: 18px;
  height: 18px;
}

.nav-icons{
  display: flex;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
}

.nav-icons img{
  width: 22px;
  height: 22px;
  object-fit: contain;
}


/* HERO CONTENT */

.hero{
  min-height: 600px;
  background-color: #f2f0f1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;

  overflow: hidden;
}

.hero-content{
  width: 100%;
  max-width: 630px;
  padding: 70px 20px 55px max(32px, calc((100vw - 1240px) / 2));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-content h1{
  font-size: clamp(38px, 4.2vw, 64px);
  font-weight: 900;
  line-height: 0.98;
  letter-spacing: -1.5px;
  margin-bottom: 24px;
}

.hero-description{
  max-width: 520px;
  margin-bottom: 24px;

  color: #666;
  font-size: 15px;
  line-height: 1.7;
}

.hero-button{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 180px;
  min-height: 48px;
  padding: 12px 28px;
  margin-bottom: 38px;

  border-radius: 30px;
  background-color: #000;
  color: #fff;

  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: background-color 0.2 ease;
}

.hero-button:hover{
  background-color: #333;
}

.hero-stats{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 0;
  width:100%;
  max-width: 610px;
}

.stat{
  padding: 0 20px;
  border-right: 1px solid #d5d3d4;
}
.stat:first-child{
  padding-left: 0;
}

.stat:last-child{
  border-right: none;
}

.stat h2{
  font-size: clamp(20px, 2vw, 32px);
  line-height: 1.2;
  font-weight: 700;
}

.stat p{
  margin-top: 5px;
  color: #666;
  font-size: 12px;
  line-height: 1.4;
}

.hero-image{
  position: relative;
  min-width:0;
  min-height:500px;
  
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.models-image {
  width: 100%;
  height: 100%;
  max-height: 650px;
  object-fit: contain;
  object-position: center bottom;
}

.hero-star {
  position: absolute;
  height: auto;
  pointer-events: none;
}

.hero-star-large {
  width: clamp(40px, 5vw, 75px);
  top: 15%;
  right: 8%;
}

.hero-star-small {
  width: clamp(22px, 2.5vw, 38px);
  top: 48%;
  left: 5%;
}



/* Brand Banner */


.brand-banner {
  width: 100%;
  background-color: #000;
  padding: 28px 32px;
}

.brands {
  width: min(100%, 1240px);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.brands img {
  width: auto;
  max-width: 17%;
  max-height: 36px;
  object-fit: contain;
}


 /*  New Arrivals */



.product-section{
    width: min(100% - 64px, 1240px);
  margin: 0 auto;
  padding: 64px 0 40px
}

.section-title{
  margin-bottom: 32px;
  text-align: center;

  font-size:  28px;
  line-height: 1.2;
  font-weight: 900;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
}

.product-card{
  min-width: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  border-radius: 20px;
  background-color: #fff;
}

.product-image{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;

  padding: 12px;
  margin-bottom: 4px;

  border-radius: 16px;
  background-color: #f0eeee;
}

.product-card h3 {
  width: 100%;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 700;
}

.product-rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}


.stars {
  color: #ffc633;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1;
  white-space: nowrap;
}
.half-star {
  background: linear-gradient(90deg, #ffc633 50%, #dedede 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-value {
  color: #333;
  font-size: 12px;
}

.price{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}

.old-price{
  color: #999;
  font-size: 18px;
  text-decoration: line-through;
}

.discount{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 3px 10px;
  border-radius: 20px;

  background-color: #ffe5e5;
  color: #f33;
  font-size: 11px;
  font-weight: 500;
}

.view-all-button{
  display: block;
  min-width: 180px;
  padding: 14px 32px;
  margin: 32px auto 0;

  border: 1px solid #ddd;
  border-radius: 30px;
  background-color: #fff;
  color: #000;

  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.view-all-button:hover {
  background-color: #f3f3f3;
}


/* Section line */

.section-divider {
  width: min(100% - 64px, 1240px);
  height: 1px;
  margin: 0 auto;
  background-color: #e8e8e8;
}


@media (maxwidth: 1000px) {
  .navbar{
    width: calc(100% - 40px);
    gap: 18px;
  }

  .nav-links{
    gap: 16px;
  }

  .nav-logo img {
    width: 125px;
  }

}
